.card {
  height: 25em;
  color: var(--background-colour);
  background-color: var(--text);
  margin: 1em 2.12em;
  padding: 0 0 2.5em !important;
  -webkit-box-shadow: 0.5em 0.5em 5px 0px var(--extra);
  -moz-box-shadow: 0.5em 0.5em 5px 0px var(--extra);
  box-shadow: 0.5em 0.5em 5px 0px var(--extra);
  text-decoration: none;
  overflow: hidden;
  border: 1px solid var(--text);
}

.card a:link {
  text-decoration: none !important;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
}

.card-image {
  background-color: var(--secondary);
  height: 50%;
  width: 100%;
  padding: 0 !important;
  text-align: center;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  position: relative;
  background-color: rgba(206, 206, 206, 0.7);
  padding: 0.25em 0.25em !important;
  margin: -1.5em 0 0 0 !important;
  width: 100%;
  border: none !important;
  text-align: center;
}

.card-content {
  margin: 0.25em;
  padding: 1.5em 1em;
  color: var(--background-colour);
  text-decoration: none !important;
  text-align: left;
}

.card-content h1 {
  padding: 0;
}

.card-content p {
  margin: 0;
}

.dv-star-rating input {
  width: 100%;
  margin: 0 auto;
}
