.profile {
  border-radius: 50%;
  max-width: 200px;
  box-shadow: 5px 10px 20px #3d3d3d;
  float: left;
  margin-right: 40px;
  max-height: 200px;
}

.content h2 {
  text-align: left;
  background: none;
}

h2 {
  color: var(--background-colour);
  background-color: var(--text);
  text-align: center;
  margin: 1em 1.25em;
  padding: 1em 2em;
}

.dv-star-rating {
  font-size: 30px;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.description {
  white-space: pre-line;
}
