.display-3 {
    font-size: 80px !important;
}

.jumbotron {
  background-image: url("../assets/jumbotron.jpg");
  background-size: cover;
  min-height: 30em;
  justify-content: center;
  text-align: center;
}

.jumbotron h1 {
  font-size: 4em;
  line-height: 1;
  margin: 0em;
  padding: 4em;
  border-bottom: none;
  color: var(--background-colour);
  text-shadow: 4px 4px var(--text);
}

.featured-container {
  min-height: 30em;
  margin: auto auto;
}

.featured-container h2 {
  display: inline;
  line-height: 4em;
  margin: 0 0 0 2.6em !important;
  background-color: inherit !important;
  color: inherit !important;
}

.card-container > .card {
  margin: 0.5em;
}

.card-container {
  text-align: center;
}

.size {
  margin-top: 12.5em;
  border-radius: 50px;
  opacity: 0.8;
}

.size:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
  opacity: 1;
}

.featured-instructors,
.featured-classes {
  width: 100%;
}

.featured-container button {
  float: right;
  margin-right: 3.5em;
  color: var(--background-colour);
  background-color: var(--text);
}

.button:hover {
  transform: scale(1.1, 1.1);
}
